.app {
  text-align: center;
}

.app-content {
  min-height: 100vh;
  display: grid;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 100 !important;
}

.image-display, video {
  object-fit: contain;
  margin: 0 !important;
}

.content-wrapper {
  width: 100%;
}