.reset-button, .download-button {
  background-color: green;
  color: white;
  font-size: 1em;
}

.reset-button:hover, .download-button:hover {
  color: red;
  background-color: lightgreen;
}

.image-button-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-content: center;
  max-width: 680px;
  margin: 1% auto 0 auto;
}